In [11]:
import pandas as pd
import json

# Read the data
articles_df = pd.read_csv("/Users/prithvi/Desktop/HnM_BerT/articles.csv", dtype=str)
customers_df = pd.read_csv("/Users/prithvi/Desktop/HnM_BerT/customers.csv", dtype=str)

In [12]:
# Get column names for articles_df
article_columns = list(articles_df.columns)
print("Article columns:", article_columns)

# Get column names for customers_df
customer_columns = list(customers_df.columns)
print("Customer columns:", customer_columns)

Article columns: ['article_id', 'product_code', 'prod_name', 'product_type_no', 'product_type_name', 'product_group_name', 'graphical_appearance_no', 'graphical_appearance_name', 'colour_group_code', 'colour_group_name', 'perceived_colour_value_id', 'perceived_colour_value_name', 'perceived_colour_master_id', 'perceived_colour_master_name', 'department_no', 'department_name', 'index_code', 'index_name', 'index_group_no', 'index_group_name', 'section_no', 'section_name', 'garment_group_no', 'garment_group_name', 'detail_desc']
Customer columns: ['customer_id', 'Active', 'club_member_status', 'fashion_news_frequency', 'age', 'postal_code']

In [15]:
articles_df.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [17]:
customers_df.head()

,customer_id,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,ACTIVE,NONE,49,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,ACTIVE,NONE,25,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,ACTIVE,NONE,24,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,ACTIVE,NONE,54,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,ACTIVE,Regularly,52,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [18]:
customers_df['Active'].fillna('0', inplace=True)

In [19]:
customers_df.head()

,customer_id,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,ACTIVE,NONE,49,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,ACTIVE,NONE,25,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,ACTIVE,NONE,24,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,ACTIVE,NONE,54,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,ACTIVE,Regularly,52,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [20]:



# Generate question-context-answer pairs
qa_pairs = []

# Article-related questions
for _, row in articles_df.iterrows():
    article_id = row['article_id']
    
    qa_pairs.append({
    "question": f"What is the product name of article ID {article_id}?",
    "context": f"Article ID {article_id} is {row['prod_name']}.",
    "answer": row['prod_name']
    })

    qa_pairs.append({
    "question": f"What is the product type name of article ID {article_id}?",
    "context": f"Article ID {article_id} has the product type {row['product_type_name']}.",
    "answer": row['product_type_name']
    })

    qa_pairs.append({
    "question": f"What is the product group name of article ID {article_id}?",
    "context": f"Article ID {article_id} belongs to the product group {row['product_group_name']}.",
    "answer": row['product_group_name']
    })

    qa_pairs.append({
    "question": f"What is the graphical appearance name of article ID {article_id}?",
    "context": f"Article ID {article_id} has a graphical appearance of {row['graphical_appearance_name']}.",
    "answer": row['graphical_appearance_name']
    })

    qa_pairs.append({
    "question": f"What is the color group name of article ID {article_id}?",
    "context": f"Article ID {article_id} has the color group {row['colour_group_name']}.",
    "answer": row['colour_group_name']
    })

    qa_pairs.append({
    "question": f"What is the department name of article ID {article_id}?",
    "context": f"Article ID {article_id} is in the department {row['department_name']}.",
    "answer": row['department_name']
    })

    qa_pairs.append({
    "question": f"What is the index code of article ID {article_id}?",
    "context": f"Article ID {article_id} has the index code {row['index_code']}.",
    "answer": row['index_code']
    })

    qa_pairs.append({
    "question": f"What is the index group name of article ID {article_id}?",
    "context": f"Article ID {article_id} is part of the index group {row['index_group_name']}.",
    "answer": row['index_group_name']
    })

    qa_pairs.append({
    "question": f"What is the section name of article ID {article_id}?",
    "context": f"Article ID {article_id} is in the section {row['section_name']}.",
    "answer": row['section_name']
    })

    qa_pairs.append({
    "question": f"What is the garment group name of article ID {article_id}?",
    "context": f"Article ID {article_id} belongs to the garment group {row['garment_group_name']}.",
    "answer": row['garment_group_name']
    })

    qa_pairs.append({
    "question": f"Can you provide a brief description of article ID {article_id}?",
    "context": f"Article ID {article_id} is described as follows: {row['detail_desc']}.",
    "answer": row['detail_desc']
    })



    # Customer-related questions
for _, row in customers_df.iterrows():
    customer_id = row['customer_id']
    qa_pairs.append({
    "question": f"What is the club member status of customer ID {customer_id}?",
    "context": f"Customer ID {customer_id} has a club member status of {row['club_member_status']}.",
    "answer": row['club_member_status']
    })

    qa_pairs.append({
    "question": f"How frequently does customer ID {customer_id} receive fashion news?",
    "context": f"Customer ID {customer_id} receives fashion news {row['fashion_news_frequency']}.",
    "answer": row['fashion_news_frequency']
    })

    qa_pairs.append({
    "question": f"What is the age of customer ID {customer_id}?",
    "context": f"Customer ID {customer_id} is {row['age']} years old.",
    "answer": row['age']
    })

    qa_pairs.append({
    "question": f"What is the postal code of customer ID {customer_id}?",
    "context": f"The postal code of customer ID {customer_id} is {row['postal_code']}.",
    "answer": row['postal_code']
    })

In [21]:
# Save question-context-answer pairs as a JSON file
with open("/Users/prithvi/Desktop/HnM_BerT/qa_pairs.json", "w") as f:
    json.dump(qa_pairs, f, ensure_ascii=False, indent=2)